.App .account .account-content-wrapper .properties {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.App .account .account-content-wrapper .order-settings,
.App .account .account-content-wrapper .account-settings {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.App .account .account-content-wrapper .single-db-property {
    padding: 5px 5px;
    border-radius: 5px;
    background: white;
}

.App .account .account-content-wrapper .single-db-property input {
    border: thin solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {

}
