.App > .order {
    display: grid;
    padding-top: 10px;
    grid-template-rows: max-content auto;
    column-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "navigation navigation"
        "outlet outlet";
    padding-inline: 0.5rem;
}

.App > .order > .navigation {
    grid-area: navigation;
}

.App > .order > .quick-summary {
    grid-area: summary;
}