.dashboard-layout .products .items > .product .single-product-extended .single-product-extended-inner .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: min-content repeat(auto-fill, 200px);
    gap: 0.25rem;
}

.dashboard-layout .products .items > .product .single-product-extended .single-product-extended-inner .images h3 {
    justify-self: center;
    grid-column: 1/-1;
}
