.miniatures {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 0.2fr);
    gap: 5px;
}

.miniatures .miniature {
    width: 100%;
    cursor: pointer;
    transition: scale 0.2s;
    border-radius: 5px;
    background: transparent no-repeat center;
    background-size: cover;
    aspect-ratio: 16/9;
}

.miniatures .miniature:hover {
    scale: 1.3;
}

@media (max-width: 767px) {
    .miniatures {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
}