.FormLinks {
    display: flex;
    flex-direction: column;
}

.FormLinks a {
    transition: 200ms;
    text-align: center;
    text-decoration: transparent underline;
}

.FormLinks a:hover {
    text-decoration: gray underline;
}