.Filters {
    min-height: fit-content;
    margin: 10px 0 10px 10px;
}

.Filters .filters-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;

    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.03);
}

.Filters .filters-title {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.Filters .line {
    align-self: center;
    width: 80%;
    height: 1px;
    background-color: black;
    margin-block: 5px;
}

.Filters .attributes .line,
.Filters .marks .line {
    width: 60%;
}

.Filters .marks,
.Filters .attributes {
    display: flex;
    flex-direction: column;
}

.Filters .title {
    align-self: center;
}

.Filters .MultiSelectFilter {
    display: grid;
    align-self: center;
    transition: grid-template-rows 500ms;
    grid-template-rows: 0fr;
}

.Filters .MultiSelectFilter > * {
    overflow: hidden;
}

.Filters .MultiSelectFilter.open {
    grid-template-rows: 1fr;
}

.Filters svg {
    align-self: center;
    cursor: pointer;
    transition: 500ms ease;
}

.Filters svg.open {
    rotate: 180deg;
}

.Filters .buttons {
    align-self: center;
    margin-top: 10px;
}
