.LoginForm {
    display: flex;
    flex-direction: column;
    color: rgb(126, 129, 132);
}
.LoginForm h1 {
    align-self: center;
}
.LoginForm .error {
    min-height: 19px;
    font-size: small;
    height: auto;
    color: red;
}
.LoginForm input {
    background-color: rgba(255,255,255, 0.07);
    border: 3px solid rgba(118,120,126, 0.10);
    border-radius: 3px;
    color: rgb(126, 129, 132);
    padding: 0;
    
}
.LoginForm button {
    background-color: #000411;
    border-radius: 5px;
    border: 1px solid rgba(118,120,126, 0.10);
    font-size: large;
    cursor: pointer;
    color: rgb(126, 129, 132);

    margin-top: 2rem;
    margin-bottom: 1rem;
    transition: 500ms ease;
}
.LoginForm button:hover {
    border-color: rgba(255,255,255,0.25);
}
.LoginForm input, .LoginForm button {
    height: 2rem;
}