.Home {
    display: flex;
    flex-direction: row;
}

.Home .page-description {
    display: flex;
    align-items: center;
    justify-content: center;

}

.Home .page-description span {
    width: 80%;
}

