.dashboard-layout .events {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 0.5rem;
}

.dashboard-layout .events .left,
.dashboard-layout .events .right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dashboard-layout .events .left h1 {
    margin: 0;
}

.dashboard-layout .events .right .btn {
    width: 100%;
    border-radius: 2px;
}

.dashboard-layout .events .solo {
    padding: 0.5rem;
    border-radius: 5px;
    background: var(--color-3);
}

.dashboard-layout .events h1 {
    text-align: center;
}