.App > .order .delivery .delivery-pick {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: var(--color-6);
}

.App > .order .delivery .delivery-pick .title {
    padding: 0.5rem 1rem 0 1rem;
}

.App > .order .delivery .delivery-pick .delivery-options {
    display: flex;
    flex-direction: column;
    border: thin solid gray;
    border-radius: 1rem;
}

.App > .order .delivery .delivery-pick .delivery-options .delivery-option {
    font-size: 20px;
    line-height: 20px;
    display: grid;
    align-items: center;
    height: 75px;
    padding: 5px 10px;
    grid-template-columns: max-content 1fr 50px 100px;
    gap: 0.25em;
}

.App > .order .delivery .delivery-pick .delivery-options .delivery-option input,
.App > .order .delivery .delivery-pick .delivery-options .delivery-option label {
    cursor: pointer;
}

.App > .order .delivery .delivery-pick .delivery-options .delivery-option input {
    accent-color: black;
}

.App > .order .delivery .delivery-pick .delivery-options .delivery-option.selected {
    transition: border 1100ms;
    border-radius: 1rem;
    outline: thin solid black;
}

.App > .order .delivery .delivery-pick .delivery-options .delivery-option .delivery-icon {
    width: 50px;
    height: auto;
}