.delivery-wrapper {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.delivery-wrapper .delivery-methods {
    flex: 0.8;
    
    background-color: #e4e4e4;
    border-radius: 10px;
}
.delivery-wrapper .buttons {
    height: 3rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.delivery-wrapper .delivery-methods form {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    padding: 1rem;
}
.delivery-wrapper .delivery-methods form .method {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 2.2rem;

    gap: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding-inline: 1rem;
}