.about-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.about-wrapper .desc-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.about-wrapper .desc-wrapper img {
    height: auto;

    padding: 1rem;
}
.about-wrapper .desc-wrapper #photo1 {
    max-width: 300px;
}
.about-wrapper .desc-wrapper #photo2 {
    max-width: 400px;
}
.about-wrapper .desc-wrapper .desc {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

