body {
    font-family: "Lato", Verdana, sans-serif;
    margin: 0;
    background-color: var(--color-4);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body:has(.portal) {
    overflow: hidden;
}
