.Navbar {
    width: 100%;
    background-color: #000411;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Navbar a {
    font-size: large;
    text-decoration: none;
    color: white;
}