.Products {
    flex: 1;
    margin-block: 15px;

    display: grid;
    grid-template-columns: repeat(3, minmax(0, 200px));
    grid-auto-rows: 250px;
    justify-content: flex-end;
    row-gap: 2rem;
    column-gap: 1rem;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    background-color: white;
}