.dashboard-layout {
    display: grid;
    flex: 1;
    width: 100%;
    height: 100%;
    grid-template-columns: 50px auto;
    grid-template-rows: 100px auto;
}

.dashboard-layout .dashboard-content {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 5px;
    background: var(--color-3);
    gap: 0.5rem;
}

.dashboard-layout .dashboard-content:has(.users),
.dashboard-layout .dashboard-content:has(.discounts) {
    background: none;
    padding-block: 0;
}

.dashboard-layout .head-panel {
    grid-column: 2 span;
}

@media (max-width: 767px) {
    .dashboard-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 100px min-content auto;
    }
    .dashboard-layout .head-panel {
        grid-column: 1;
    }
    .dashboard-layout .dashboard-content {
        margin: 0.5rem 0.1rem;
    }
}