.dashboard-layout .head-panel {
    font-size: 32px;
    display: grid;
    align-items: center;
    color: white;
    background: var(--color-5);

    justify-items: center;
    grid-template-columns: 300px auto 300px;
}

@media (max-width: 767px) {
    .dashboard-layout .head-panel {
        font-size: 20px;
        grid-template-columns: 1fr 1fr;
        padding-inline: 10px;
    }

    .dashboard-layout .Logo {
        display: none;
    }
}
