.dashboard-layout input[type=number],
.dashboard-layout input[type=text],
.dashboard-layout input[type=datetime-local],
.dashboard-layout input[type=date],
.dashboard-layout select,
.dashboard-layout textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    outline: none;
}

.dashboard-layout input[type=file],
.dashboard-layout input[type=number],
.dashboard-layout input[type=text],
.dashboard-layout input[type=datetime-local],
.dashboard-layout input[type=date],
.dashboard-layout select,
.dashboard-layout textarea {
    width: 100%;
}

.dashboard-layout input[type=number]:focus,
.dashboard-layout input[type=text]:focus,
.dashboard-layout input[type=datetime-local]:focus,
.dashboard-layout input[type=date]:focus,
.dashboard-layout select:focus,
.dashboard-layout textarea:focus {
    outline: 1px solid blueviolet;
}

.dashboard-layout input[type=file]:focus {
    border: 1px solid blueviolet;
}

.dashboard-layout textarea {
    height: 10em;
    resize: vertical;
}

.dashboard-layout .products label {
    cursor: help;
}