.dashboard-layout .navigation-panel {
    z-index: 999;
    display: flex;
    flex-direction: column;
    max-width: 50px;
    height: fit-content;
    white-space: nowrap;
    border-radius: 0 0 10px 0;
    background: var(--color-3);

}

.dashboard-layout .navigation-panel svg {
    width: 28px;
    height: auto;
    color: black;
}

.dashboard-layout .navigation-panel > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.5rem 10px;
    cursor: pointer;
    transition: background 500ms;
    border-radius: 0 10px 10px 0;
    background: var(--color-3);
}

.dashboard-layout .navigation-panel > div.selected svg {
    color: blueviolet;
}

.dashboard-layout .navigation-panel > div span {
    display: inline-block;
    overflow: hidden;
    max-width: 0;
    transition: all 500ms;
    opacity: 0;
    color: black;
}

.dashboard-layout .navigation-panel > div:hover {
    background: var(--color-2);
}

.dashboard-layout .navigation-panel > div:hover span {
    max-width: 100px;
    margin-left: 0.5rem;
    transition: 500ms;
    opacity: 1;
}

.dashboard-layout .navigation-panel > div:hover svg {
    color: blueviolet;
}

@media (max-width: 767px) {
    .dashboard-layout .navigation-panel {
        flex-direction: row;
        border-radius: 0;
    }
    .dashboard-layout .navigation-panel > div {
        border-radius: 0;
    }
    .dashboard-layout .navigation-panel > div:last-child {
        border-radius: 0 10px 10px 0;
    }
}
