/*Positioning*/
.dashboard-layout .pagination-panel {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
    gap: 0.5rem;
}

/*Style for page manager*/
.dashboard-layout .pagination-panel .page-manager {
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
}

.dashboard-layout .pagination-panel svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 500ms;
    border-radius: 50%;
    background: var(--color-3);
}

.dashboard-layout .pagination-panel svg.disabled {
    color: gray;
}

.dashboard-layout .pagination-panel svg.dec.disabled.clicked {
    animation: shakeleft 500ms;
}

.dashboard-layout .pagination-panel svg.inc.disabled.clicked {
    animation: shakeright 500ms;
}

.dashboard-layout .pagination-panel svg:not(.disabled):hover {
    color: var(--color-3);
    background: blueviolet;
}

/*Style for max items displayed*/

.dashboard-layout .item-number-manager {
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: 40px;
    gap: 5px;
}

.dashboard-layout .item-number-manager .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Style when users are displayed*/

.dashboard-layout:has(.users) .pagination-panel {
    border-radius: 5px;
    background: var(--color-3);
}

@keyframes shakeleft {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-10px);
    }
    66% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shakeright {
    0% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(10px);
    }
    66% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}