.dashboard-orders .actions form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-radius: 0 0 25px 25px;
}
.dashboard-orders .actions form > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard-orders .actions form h5 {
    margin: 0;
}