.mobileHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    background-color: #000411;
    box-shadow: #2c313a 0px 5px,
    #575e62 0px 10px,
    #838a8b 0px 15px;
}

.mobileHeader .leftMobile {
    flex: 0.2;
    text-align: center;
    border-right: solid 5px #2c313a;
}

.mobileHeader .Logo {
    flex: 0.6;
}

.mobileHeader .rightMobile {
    flex: 0.2;
    text-align: center;
    border-left: solid 5px #2c313a;
}

.mobileHeader .mobileDropdownList {
    position: absolute;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    width: 50%;

    height: fit-content;

    background-color: #000411;
}

.mobileHeader .mobileDropdownList a {
    height: 2em;
    text-decoration: none;
    color: white;
}

.mobileHeader .leftDropdown {
    border-bottom-right-radius: 5px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.5),
    5px 5px 10px rgba(0, 0, 0, 0.5);
}

.mobileHeader .rightMobile .mobileDropdownList {
    left: 50%;
}

.mobileHeader .leftMobile .mobileDropdownList {
    left: 0;
}

.mobileHeader svg {
    margin-top: 10px;
}
