.billing-data .title {
    font-weight: 600;
    font-size: 17px;
}
.billing-data {
    display: flex;
    flex-direction: column;
}
.billing-data p {
    margin: 0;
}
.billing-data p span:first-child {
    font-weight: bold;
}