.documents { 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.documents button {
    font-weight: bold;
}
.documents .title {
    justify-self: first baseline;
    font-weight: 600;
    font-size: 17px;
}