/* table styles */
#products-summary-table {
  caption-side: top;
  border-spacing: 20px;
  text-align: center;
  border-collapse: collapse;
}
#products-summary-table th {
  font-size: 17px;
}
#products-summary-table tr:not(tr:last-child) td:not(td:first-child) {
  border-block: 1px solid rgba(0, 0, 0, 0.2);
}
#products-summary-table td {
  width: 20%;
  max-width: 20%;
}
#products-summary-table img {
  max-width: 100%;
  max-height: 100px;
  border-radius: 5px;
  margin-block: 5px;
}
