.dashboard-layout .add-product {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-inline: 0.5rem;
}

.dashboard-layout .add-product h1 {
    padding-inline: 0.5rem;
}

.dashboard-layout .add-product .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min(75%, 500px)
}

.dashboard-layout .add-product .field:last-of-type {
    flex-direction: row;
    gap: 0.25rem;
}

.dashboard-layout .add-product .field,
.dashboard-layout .add-product .btn {
    align-self: center;
}