.SearchBar {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 2rem;

    margin-bottom: 10px;
}
.SearchBar .layout-pick-wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgba(0,0,0,0.03);
    padding: 2px;
    border-radius: 5px;
}
.SearchBar .layout-pick-wrapper .layout-pick {
    cursor: pointer;
}
.SearchBar .input-wrapper {
    position: relative;
    display: inline-block;
}
.SearchBar label {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    padding: 5px;
    border-radius: 5px;
}
  
.SearchBar input[type="text"] {
    width: 100%;
    min-height: 24px;
    line-height: 24px;
    font-size: 16px;
    
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}
  
.SearchBar .input-wrapper svg {
    width: 24px;
    height: 24px;
    fill: #666;
    margin-left: 10px;
    cursor: pointer;

    transition: 500ms ease;
}
.SearchBar svg:hover {
    fill: black;
}
  