footer {
    display: grid;
    width: 100%;
    margin-top: 10px;
    padding: 1rem 1rem;
    background-color: #dcdcdc;

    background-size: contain;
    box-shadow: #d1d3d2 0 -5px,
    #c5cac8 0 -10px,
    #bac0bd 0 -15px;
    justify-items: center;
    column-gap: 1em;

    grid-template-columns: 1fr 1fr;
}

footer .group {
    display: grid;
    align-items: center;
    column-gap: 0.5em;
    grid-template-columns: 16px max-content;
}

footer .group .title {
    grid-column: 1/-1;
}

footer .group * {
    cursor: pointer;
}

footer .group svg {
    transition: 200ms;
}

footer .group svg:hover {
    scale: 1.2;
}

footer .group .text,
footer .group .title {
    transition: 200ms;
    text-decoration: 1px solid transparent underline;
}

footer .group .text:hover,
footer .group .svg-wrapper:hover + .text,
footer .group .title:hover {
    text-decoration: 1px solid underline black;
}

footer .group .facebook:hover,
footer .group .facebook:has(+ .text:hover) {
    color: #4267b2;
}

footer .group .instagram:hover,
footer .group .instagram:has(+ .text:hover) {
    color: #e1306c;
}

footer .group .tiktok:hover,
footer .group .tiktok:has(+ .text:hover) {
    color: #00f2ea;
}

@media (max-width: 767px) {
    footer {
        row-gap: 1rem;
        grid-template-columns: 1fr;
    }
    footer .group {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        column-gap: 0.5em;
        grid-template-columns: 16px max-content;
    }
    footer .group .title {
        text-align: center;
    }
}