.categories-wrapper {
    display: flex; /* Użyj flexbox */
    flex-direction: row; /* Ustaw kierunek wierszy */
    max-height: 50px;
    overflow: hidden;
    transition: 500ms;
  }

.categories-wrapper:hover {
    max-height: 100px;
    overflow-y: scroll;
}
  
  .category-checkbox {
    display: flex; /* Użyj flexbox */
    flex-direction: column; /* Ustaw kierunek kolumn */
  }
  
  .category-checkbox label {
    display: flex; /* Użyj flexbox dla wewnętrznych elementów */
    align-items: center; /* Wyśrodkuj elementy w pionie */
    margin-right: 20px; /* Dodaj odstęp między kategoriami */
  }