.gallery-overlay-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 90%;
    height: 90%;
    background-color: #aeb7b3;
    border-radius: 1%;
}
.gallery-overlay-wrapper .gallery-wrapper .pictures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsywna siatka */
    grid-auto-rows: 200px; /* Minimalna wysokość komórek */
    gap: 20px; /* Odstęp między elementami w siatce */
    padding: 20px; /* Dodatkowy padding wokół siatki */
}
.gallery-overlay-wrapper .gallery-wrapper .pictures .pick-image-tile {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1%;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* Dodaj animację transformacji */
}
.gallery-overlay-wrapper .gallery-wrapper .pictures .pick-image-tile:hover {
    transform: scale(1.05); /* Powiększ obraz o 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Zwiększ cień podczas najechania */
}
.gallery-overlay-wrapper .gallery-wrapper .pictures .image-tile img {
    max-width: 100%; /* Zdjęcie nie będzie większe niż szerokość rodzica */
    max-height: 100%; /* Zdjęcie nie będzie wyższe niż rodzic */
    width: auto; /* Dopasuj szerokość do proporcji obrazu */
    height: auto; /* Dopasuj wysokość do proporcji obrazu */
    border-radius: 1%;

    position: absolute; /* Nadajemy pozycję bezwzględną dla zdjęcia */
    top: 50%; /* Wyśrodkowanie w pionie */
    left: 50%; /* Wyśrodkowanie w poziomie */
    transform: translate(-50%, -50%); /* Wyśrodkowanie w obu kierunkach */
}
.gallery-overlay-wrapper .gallery-wrapper .pictures .image-tile button {
    position: absolute;
    padding: 5px;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    background-color: white; /* Kolor tła przycisku */
    border-radius: 10%; /* Zaokrąglenie przycisku w kształcie koła */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Dodaj cień do przycisku */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Dodaj animację */
    display: none;
}
.gallery-overlay-wrapper .gallery-wrapper .pictures .image-tile .main-button {
    left: 54px;
}
.gallery-overlay-wrapper .gallery-wrapper .pictures .image-tile button svg {
    fill: black; /* Kolor przycisku usuwania */
}
.gallery-overlay-wrapper .gallery-wrapper .pictures .image-tile button:hover {
    transform: scale(1.2); /* Powiększ przycisk po najechaniu */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Zwiększ cień po najechaniu */
  }
.gallery-overlay-wrapper .gallery-wrapper .pictures .image-tile {
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Dodaj cień */
    transition: transform 0.2s ease-in-out; /* Dodaj animację transformacji */
}
  /* Dodaj efekt podczas najechania myszką */
.gallery-overlay-wrapper .gallery-wrapper .pictures .image-tile:hover {
    transform: scale(1.05); /* Powiększ obraz o 5% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Zwiększ cień podczas najechania */
}
.gallery-overlay-wrapper .gallery-wrapper .pictures .image-tile:hover button {
    display: block;
}
.gallery-overlay-wrapper .gallery-wrapper .pick-image-tile input[type="file"] {
    display: none;
}
.gallery-overlay-wrapper .button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}