.orders {
  min-height: 100%;
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
}
.loading {
  justify-content: center;
  align-items: center;
}
.orders .title {
  align-self: first baseline;
  justify-self: flex-start;
  margin-bottom: 2rem;
}
.orders .orders-wrapper {
  display: flex;
  flex-direction: column;
}
.orders .orders-wrapper .headers,
.orders .orders-wrapper .order-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 4fr 2fr;
  justify-content: center;
  align-items: center;
}
.orders .headers {
  margin-bottom: 1rem;
  font-weight: bold;
  padding-inline: 1rem;
}
.orders .order-item {
  background-color: #fefeffce;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  border-radius: 5px;
  padding-inline: 1rem;
  cursor: pointer;
}
.orders span {
  display: flex;
  align-items: center;
  padding-block: 5px;
}
.orders .status {
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.orders .Accepted {
  background-color: #01911e;
}
.orders .Paid {
  background-color: #0d6efd;
}
.orders .Sent {
  background-color: #f29d00;
}
.orders .Completed {
  background-color: #490dfd;
}

@media (max-width: 767px) {
  .orders {
    padding-inline: 0;
  }
  .orders .order-item {
    display: flex !important;
    flex-direction: column;
    justify-content: left;
  }
  .orders .headers {
    display: none !important;
  }
}
