.dashboard-layout .discounts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dashboard-layout .discounts .discounts-content {
    padding: 0.5rem;
    border-radius: 5px;
    background: var(--color-3);
}

.dashboard-layout .discounts .discounts-content h1 {
    text-align: center;
}