.Products {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.Filters {
    flex: 0.2;
}
.content {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
}
.SearchBar {
    flex: 0.1;
}
.ProductsTable {
    flex: 0.9;   
}

@media (max-width: 767px) {
    .ProductsTable {
        flex: 1;
    }
    .content {
        flex: 1;
    }
    .Filters {
        margin-right: 10px;
    }
}