.dashboard-orders .statistics {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms ease-out;
}
.dashboard-orders .statistics.open {
    grid-template-rows: 1fr;
}
.dashboard-orders .statistics > div {
    overflow: hidden;
}
.dashboard-orders .statistics .single-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dashboard-orders .statistics .single-stat .label {
    font-size: 16px;
    font-weight: bold;
}
.dashboard-orders .statistics .single-stat .value {
    font-size: 22px;
    font-weight: bold;
}