.Footer {
    width: 100%;
    position: relative;
    background-color: #DCDCDC;
    background-size: contain;
    box-shadow: #D1D3D2 0px -5px, #C5CAC8 0px -10px, #BAC0BD 0px -15px;

    margin-top: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 1rem;
}
.mediaIcons, .mediaPhone, .mediaMail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.mediaPhone, .mediaMail {
    justify-content: center;
    gap: 1rem;
}
.column h4 {
    margin: 0;
    align-self: center;
}
.column a {
    text-decoration-color: transparent;
    color: #3b3b3b;
    transition: 300ms;
}
.column a:hover {
    text-decoration-color: black;
    color: black;
    text-shadow: 0px 0px 25px rgb(75, 75, 75);
}
@media (max-width: 400px) {
    .Footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}