.ProductDetails {
    display: flex;
    flex: 1;
    padding: 10px;
}

.ProductDetails .product-wrapper {
    border: 1px solid var(--color-4);
    border-radius: 10px;
    display: flex;

    flex: 1;
    flex-direction: row;
    padding: 10px;
}

.ProductDetails .product-wrapper .left {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.ProductDetails .product-wrapper .right {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.ProductDetails .product-wrapper .right .price {
    align-self: last baseline;
    font-weight: bold;
    margin-block: 1rem;
}

.ProductDetails .product-wrapper .right .buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.ProductDetails .title {
    align-self: center;
    font-size: 20px;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.ProductDetails .product-wrapper .gallery {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: center;
    min-height: 300px;
    width: 80%;
}

.image-gallery-content:not(.fullscreen)
.image-gallery-slide
.image-gallery-image {
    height: 300px;
}
