.auth-form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 300px;
}

.auth-form h2 {
    text-align: center;
}

.error {
    font-size: 14px;
    min-height: 24px;
    padding-left: 2px;
}

.auth-form label {
    padding-left: 2px;
}

.auth-form input {
    padding-left: 2px;
    border: thin solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: none;
}

.auth-form input:focus {
    outline: #00000033 2px solid;
}

.auth-form .buttons {
    display: flex;
    flex-direction: row;
    gap: 0.25em;
}

.auth-form .buttons .btn {
    flex: 1;
}